body {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: Maison Neue, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

/* ------------------------*/
/* ----- xx header xx ---- */
/* ------------------------*/

.header-container {
  /* background-color: #acbded; */
  width: 1280px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 10px 0;
}
.headerzone1 {
  display: flex;
  justify-content: center;
}

.headerLogo {
  height: 40px;
}

header input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  /* font-family: Maison Neue; */
  font-size: 16px;
  height: 37px;
  outline: none;
  margin-left: 40px;
  padding-left: 10px;
  width: 590px;
}

.header-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-left: 40px;
  margin-top: 30px;
  font-size: 12px;
}

.signup,
.signout {
  margin-right: 20px;
}

.button-hidden {
  visibility: hidden;
}

.signup,
.login {
  height: 30px;
  width: 115px;
  background-color: #fff;
  color: #2cb1ba;
  border: solid 1px #007580;
  border-radius: 5px;
  /* font-family: Maison Neue; */
  font-size: 12px;
}

.signout {
  height: 30px;
  width: 115px;
  background-color: #c2175b;
  color: #ffffff;
  border: solid 1px #c2175b;
  border-radius: 5px;
  /* font-family: Maison Neue; */
  font-size: 12px;
}

.sell {
  height: 30px;
  width: 115px;
  background-color: #007580;
  color: #ffffff;
  border: none;
  margin-left: 50px;
  border-radius: 5px;
  font-size: 12px;
}

/* ------------------------*/
/* ----- xx HOME xx ----- */
/* ------------------------*/

/* ----- xx Banner xx ---- */

.megabanner-container {
  /* background-color: #9b1b1b; */
  height: 450px;
  width: 100vw;
  margin: 0 auto;
}
.megabanner-image {
  height: 450px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.megabanner-image-overlay {
  height: 80px;
  position: absolute;
  top: 490px;
  right: 0px;
}

.homeBaseline {
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-size: 35px;
  height: 215px;
  justify-content: center;
  padding: 30px;
  position: absolute;
  top: 150px;
  left: 330px;
  width: 350px;
}

.sell-homebaseline {
  height: 40px;
  width: 180px;
  background-color: #007580;
  color: #ffffff;
  border: none;
  margin-left: 50px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 32px;
}

/* ----- xx cards xx ---- */

.image-main-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: #f09494; */
  height: 100%;
  width: 1280px;
  margin: 0 auto;
}

.image-single-container {
  padding: 0 3px 16px;
  width: 230px;
  margin: 10px 10px;
}

.username {
  align-items: center;
  display: flex;
  padding: 10px;
  font-size: 12px;
  color: grey;
}

.avatar-username {
  display: flex;
}

.product-image img {
  height: 360px;
  object-fit: cover;
  width: 235px;
}

.product-price {
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 14px;
}

.product-details {
  font-size: 12px;
  color: grey;
}

/* ------------------------*/
/* ----- xx OFFER xx ---- */
/* ------------------------*/

.offer-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #ebedee;
  padding-top: 30px;
  gap: 180px;
}

.offer-container img {
  /* width: 400px; */
  height: 600px;
  object-fit: cover;
}

.offer-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  width: 320px;
  height: 520px;
  padding: 40px;
}

.offer-price {
  margin-bottom: 20px;
}

.offer-detail-main {
  display: flex;
  justify-content: space-between;
}

.offer-key,
.offer-description {
  color: grey;
}

.offer-line {
  padding-bottom: 50px;
}

.offer-name {
  padding-top: 50px;
  border-top: solid 1px lightgrey;
  font-weight: bolder;
  margin-bottom: 10px;
}

.offer-description {
  padding-bottom: 20px;
}

.offer-avatar-username {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ------------------------*/
/* ----- xx SIGNUP xx ----- */
/* ------------------------*/

.signup-container {
  width: 1280px;
  height: 100vp;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.signup-container form {
  /* background-color: #f09494; */
  width: 300px;
  text-align: center;
  margin: 30px;
}

.signup-container input {
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid #fcced3;
  margin-bottom: 20px;
  font-size: 16px;
  height: 37px;
  /* color: lightgrey; */
}

h1 {
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-size: 16px;
  color: grey;
}

.errorMessage {
  line-height: 30px;
  color: red;
  font-size: 14px;
}

.newsletter-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  gap: 10px;
}

.newsletter-checkbox-container input {
  width: 30px;
  margin-right: 20px;
  outline: none;
  /* appearance: auto; */
  /* box-sizing: border-box; */
  margin: 3px 3px 3px 4px;
  border: solid 3px black;
}

.newsletter-checkbox-text {
  font-size: 12px;
  color: grey;
}

.newsletter-checkbox-login {
  line-height: 40px;
  font-size: 12px;
  color: #007580;
}

.signup-button {
  height: 40px;
  width: 180px;
  background-color: #007580;
  color: #ffffff;
  border: none;
  /* margin-left: 50px; */
  border-radius: 5px;
  font-size: 16px;
  margin-top: 32px;
}

/* ------------------------*/
/* ----- xx TOOGLE xx ----- */
/* ------------------------*/

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #007580;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #007580;
  color: white;
}

.react-toggle--checked .react-toggle-track {
  background-color: #007580;
  color: white;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #007580;
  color: white;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  color: white;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #007580;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}
